.android-container {
  background-color: #1c1c1c; /* Background color */
  padding: 20px;
  border-radius: 15px;
  margin: 1px auto;
  text-align: center;
  min-height: 92%; /* Ensure full page height is covered */
}

.android-heading {
  font-family: 'Poppins', sans-serif;
  color: #88c200; /* Greenish-yellow color */
  font-size: 28px;
  margin-bottom: 40px;
}

.back-button {
  background: none;
  border: none;
  color: #88c200;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-icon {
  margin-right: 5px; /* Space between icon and text */
  font-size: 24px;
}
